.material-icons {
  vertical-align:middle !important;
  display: inline-flex;
  align-items: center;
}

.align_center {
    position: relative;
    width: 100%;
    padding-top:20%;
}

.align_center:after {
    content: '';
    display: block;
    clear: both;
}

.align_center_to_left {
    position: relative;
    right: 50%;
    float: right;
}

.align_center_to_right {
    position: relative;
    z-index: 1;
    right: -50%;
}
